@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}




/* share style  */
.btn-primary {
  border-radius: 12px;
  background-color: orange;
  color: #fff;
  padding: 10px 60px;
  font-size: 20px;
}

.color-1,
.color-2,
.color-3,
.color-4 {
  font-weight: 700;
}
main{
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.curriculum-title{
  font-size: 20px;
}
.view-all{
  background-color: black;
  color: #fff;
  padding: 10px 61px;
  border-radius: 16px;
  margin-top: 90px;
  margin-bottom: 70px;
}









/* nav section style  */
.nav-title {
  font-size: 32px;
}

.nav-bar-section {
  display: flex;
   max-width: 1440px;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}
.middle{
  display: flex;
  gap: 32px;
}

.nav-item {
  text-decoration: none;
  list-style: none;
}

.left-part {
  display: flex;
  align-items: center;
}



.nav-img{
size: 20px;
}


.nav-link {
  text-decoration: none
}

.color-1, .last-discription-two {
  color: orange;

}

.color-2 {
  color: blue;
}

.color-3, .last-discription-one{
  color: #05D4DF;
}

.color-4, .last-discription-tree {
  color: #5D58EF;
}
.box-btn, .btn-bages-two{
  background-color: #3CD8E8;
}
.btn-bages-four, .btn-bages-one, .btn-bages-tree{
  background-color: #95B226;
}

/* Bannar style  */
.bannar-conteiner {
  display: flex;

  max-width: 1159px;
  margin: 0 auto;
  gap: 50px;
}

.img-bannar {
  width: 100%;
}

.bannar-title {
  font-size: 56px;
}


.text-color {
  color: orange;
}

.text-color-2 {
  color: rgb(7, 161, 223);
}

.bannar-conten {
  margin-top: 40px;
}

.btn-bannar {
  padding: 10px 47px;
  background-color: black;
  color: #fff;
  border-radius: 12px;
}

.bannar-discription {
  font-weight: 20px;
}

/* main section style */
.conteiner{
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  
}
.conteiner-title{
  display: flex;
  margin: 0 140px;
  gap: 24px;
}
.curriculum-one{
  background-image: linear-gradient(to top, #fff, rgba(198, 233, 247, 0.73));
  text-align: center;
  border-radius: 18px;
  padding: 30px;
}
.curriculum-two{
  background-image: linear-gradient(to top, #fff, rgba(255, 244, 220, 1));
  border-radius: 18px;
  padding: 30px;
}
.curriculum-tree{
  background-image: linear-gradient(to top, #fff, rgba(242, 232, 255, 1));
  border-radius: 18px;
  padding: 30px;
}
.arro-btn{
  background-color: orange;
  border-radius: 50%;
  font-size: 15px;
  padding: 14px;
  color: #FFFFFF;
  }
  /* Our-Stories-section-style */
  .Our-Stories-box{
    max-width: 1440px;
    margin: 60px auto;
    background-image: linear-gradient(to bottom, #FFFFFF, #f1d5a3);
  }
  .title{
    font-size: 2rem;
  }
  /* conteiner-box-style */
  .our-stories-conteiner{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    gap: 24px;
    
    
  }
  .conteiner-small-box-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    text-align: start;
  }
  .box-btn, .btn-bages-one, .btn-bages-two, .btn-bages-tree, .btn-bages-four{
    border-radius: 47px;
    margin-left: 38px;
    padding: 14px 18px;
    margin-top: -30px;
   
  }
  .conteiner-small-box{
    text-align: start;
    border-radius: 16px;
    background-color: #FFFFFF;
    
  }
  .box-image{
    border-radius: 16px 16px 0px 0px;
    margin-bottom: -15px;
    
  }
  .box-title, .discription{
    padding-left: 38px;
    padding-right: 38px;
  }
  .images-box{
    background-color: #FFFFFF;
    border-radius: 16px;
  }
  .bage-btn{
    margin-left: 38px;
  }
  /* footer section style */
  .footer-content{
    max-width: 1439px;
    margin: 0 auto;
    background-color: #44bef7;
    display: flex;
    justify-content: space-between;
    padding: 123px 140px;
    margin-top: -60px;

    
  }
  
  
  .img-text{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 5px;
  }
  

  .title{
    font-size: 42px;
  }
  .discription-last-line{
    text-align: start;
    max-width: 399px;


  }
  .footer-img-box{
    align-items: center;
  }
  .list-item{
    list-style: none;
  }
  .title-about{
    font-size: 24px;
  }
  .title-keep{
    font-size: 26px;
  }
  .title-line{
    font-size: 30px;

  }
    
  




/* Responsive size style */
@media screen and (max-width:576px) {

  .nav-title,
  .btn,
  .nav-item {
    display: none;
  }

  



  

  .barse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-section {
    justify-content: space-around;
  }

  .bannar-conteiner {
    flex-direction: column-reverse;
    max-width: 390px;
    margin: 0 auto;
  }

  .bannar-title,
  .bannar-discription,
  .btn-bannar-part {
    text-align: center;

  }
  .btn-primary{
    display: none;
  } 
  .nav-bar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  .conteiner-small-box{
    display: none;
  }

      
  }
  /* bannar related responsive */
  @media screen and (min-width: 577px) and (max-width:1440px) {    
    .hr-line, .bare-img{
      display: none;
    }
    
  }
  /* Standard Curriculum size */
  @media screen and (max-width:576px) {
    .conteiner{
    align-items: center;
    }
    .conteiner-title{
      flex-direction: column;
      max-width: 390px;
      margin: 0 auto;
      gap: 20px;
    }
    }

    @media screen and (max-width:576px) {
      .Our-Stories-box{
        max-width: 390px;
        margin: 0px 0px;
        
      }
      .conteiner-small-box-section{
       display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .footer-content{
        max-width: 390px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 65px 20px 65px 20px;
       
      }
      
    }
